* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-image: url("../public/images/background.jpg");
  }

  header {
    display: flex;
    justify-content: center;
  }

  .title {
    color: white;
    font-size: 3rem;
  }

  .section--card {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    height: fit-content;
    width: fit-content;
    background: white;
    border-radius: 5px;
  } 

  .card--image {
    height: 550px;
    width: 450px;
    border-radius: 5px;
  }

  .card--details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }

  .card--details--destiny {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card--details--date {
    font-size: 1.5rem;
  }
  
  .card--description {
    font-style: italic;
    text-align: center;
    margin-left: 25px;
    font-size: 1rem;
    width: 400px;
    padding: 5px;
  }

  footer {
    display: block;
    font-weight: bold;
    border-top: 2px solid black;
    background: cyan;
    text-align: center;
    font-size: 0.7rem;
  }

  @media screen and (max-width: 600px) {

    body {
      background-image: url("../public/images/background-small.jpg");
      }
    
      header {
        display: flex;
        justify-content: center;
      }
    
      .title {
        color: white;
        font-size: 3rem;
      }
    
      .section--card {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    
      .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        background: white;
        border-radius: 5px;
      } 
    
      .card--image {
        height: 400px;
        width: 300px;
        border-radius: 5px;
      }
    
      .card--details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
      }
    
      .card--details--destiny {
        font-size: 1rem;
        font-weight: bold;
      }
    
      .card--details--date {
        font-size: 1rem;
      }
      
      .card--description {
        font-style: italic;
        font-size: .5rem;
        width: 300px;
        margin: 0;
      }
    }